{
    "root": true,
    "env": {
        "es6": true, 
        "browser": true, 
        "node": true 
    },
    "extends": [
        "eslint:recommended", 
        "plugin:import/recommended", 
        "plugin:react/recommended", 
        "plugin:react-hooks/recommended", 
        "plugin:jsx-a11y/recommended", 
        "plugin:@typescript-eslint/recommended", 
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "react",
        "react-hooks",
        "jsx-a11y",
        "@typescript-eslint",
        "import",
        "simple-import-sort" // Plugin for sorting imports in file.
    ],
    "rules": {
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "import-default": "off",
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error",
        "import/no-named-as-default-member": "off",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error"
    },
    "parser": "@typescript-eslint/parser", // Allows Eslint to understand TypeScript syntax.
    "parserOptions": {
        "project": "./tsconfig.json", // Specify where to find the root tsconfig file of your project.
        "ecmaVersion": 2021, // ECMAScript version supported in the project.
        "sourceType": "module", // set to `module` because we ue ECMAScript modules.
        "ecmaFeatures": {
            "jsx": true // enable jsx for React.
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/core-modules": [ "virtual:windi.css" ],
        "import/parsers": {
            // 使用 TypeScript parser
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            // 默认使用根目录 tsconfig.json
            "alias": {
                "map": [
                    ["@", "./src/"],
                    ["@comp", "./src/components/"]
                ],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            },
            "typescript": {
                // 从 <roo/>@types 读取类型定义
                "alwaysTryTypes": true
            },
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"],
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    }
}
